POSTGRES_DB=internet_cafe_db
POSTGRES_USER=internet_cafe_user
POSTGRES_PASSWORD=internet_cafe_pass


KAFKA_HOST=localhost

JWT_SECRET=dev-secret-key-12345

SPRING_PROFILES_ACTIVE=dev

PGADMIN_EMAIL=admin@internetcafe.com
PGADMIN_PASSWORD=admin123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=noreply@internetcafe.com
FRONTEND_URL=http://localhost:4200